export default class Example extends Component {
  render = ({ showSubHeading, features }) => (
    <div>
      <h1>
        Getting started with
      </h1>
      {showSubHeading && (
        <h2>
          React
        </h2>
      )}
      <List
        items={features}
        itemComponent={FeatureItem}
        limit={5}
      />
    </div>
  )
}
