export default class Example extends Component {
  render = () => (
    <View>
      <Text>
        Getting started with
      </Text>
      <Text>
        React Native
      </Text>
    </View>
  )
}
