export default class Example extends Component {
  render = () => (
    <View>
      <Heading>
        Getting started with
      </Heading>
      <SubHeading>
        React Native
      </SubHeading>
    </View>
  )
}
