export default class Example extends Component {
  render = ({ bold }) => (
    <Text style={[styles.text, bold && styles.bold]}>
      Hello world
    </Text>
  )
}

const styles = StyleSheet.create({
  text: {
    color: 'blue',
    fontSize: 30,
  },
  bold: {
    fontWeight: 'bold',
  },
})
